spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/ikyoussef/doctorat-config-repo
          default-label: main
          clone-on-start: true

server:
  port: 8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
